<div class="py-3">
    <div class="py-2 text-center">
        <h5 class="h5">Deleted Accounts</h5>
    </div>

    <div *ngIf="loading" class="text-center">
        <p>Fetching data ...</p>
    </div>
</div>
<div *ngIf="!loading">
    <div class="d-flex justify-content-end mr-3 my-2">
        <button id="fetch_accounts_list_deleted" class="btn d-none" onclick="get_admin_list('inactive')"><i
                class="fas fa-sync-alt"></i> Refreh List</button>
    </div>
    <div id="accounts_message_div_deleted"></div>
    <ul class="list-group list-group-flush" id="all_deleted_accounts_list">

        <li class="list-group-item d-flex flex-wrap justify-content-between align-items-start p-md-3"
            *ngFor="let account of accounts">
            <img src="../../../assets/img/user.png" class="px-md-3" height="120px" alt="" />
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{account.name}}</div>
                <small class="text-muted">
                    <span>
                        {{account.email}} <br />
                        {{account.phoneNumber}} <br />
                    </span>
                </small>
                <p>
                    <a class="btn btn-sm bg-primary text-white m-1" routerLink="/accounts/{{ account.adminId }}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <span *ngIf="!currentUserDetailsLoadingFlag">
                        <span *ngIf="currentUser.privilege == 'admin'">
                            <button (click)="setModal(account)" data-bs-toggle="modal" data-bs-target="#deactiveModal" class="btn btn-sm bg-info bg-primary text-white m-1" [disabled]="revertAccountFlagLoading">
                                <i class="fas fa-undo-alt"></i>
                            </button>
                        </span>
                    </span>

                </p>

            </div>
            <div>

                <span *ngIf="(account.privilege=='admin')" class="badge bg-primary rounded-pill">Admin</span>

                <span *ngIf="(account.privilege=='moderator')"
                    class="badge bg-info rounded-pill">Moderator</span>

            </div>
        </li>
    </ul>
    <div class="modal fade" id="deactiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  text-success" id="exampleModalLabel"> 
                        <i class="fas fa-undo-alt"></i> Restore Confirmation
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="revertAccountFlagSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> Restore account success!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    <p>Are you sure you want to restore this account: </p>
                    <p><small>Name : </small>{{tempAdmin.name}}</p>
                    <p><small>Email : </small> {{tempAdmin.email}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="revertAccount()" class="btn btn-success" [disabled]="revertAccountFlagLoading">
                        <span *ngIf="!revertAccountFlagLoading">
                            Restore {{tempAdmin.name}}
                        </span>
                        <span *ngIf="revertAccountFlagLoading">
                            <div class="spinner-border spinner-border-sm">
                                <span class="visually-hidden" role="status">
                                    Loading...
                                </span>
                            </div>
                            Restoring {{ tempAdmin.name }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>