<div class="mt-4">
    <div class="table-responsive">
        <table  datatable [dtOptions]="dtOptionsDeletedGarage" [dtTrigger]="dtTriggerDeletedGarage" class="table table-bordered table-hover text-center pt-3 mb-3">
            <thead class="background-orange text-white">
                <tr>
                    <td>Garage Name</td>
                    <td>Owner Name</td>
                    <td>Phone</td>
                    <td>Alternate Phone</td>
                    <td>Area</td>
                    <td>Referral Code</td>
                </tr>
            </thead>
        </table>
    </div>
</div>