<!-- table starts -->
<div class="py-3">
    <div class="py-2 text-center">
        <h5 class="h5">All Vehicles
    </h5>
    </div>
    <div class="mx-auto mt-4">
        <div class="my-2 d-flex justify-content-end">
            <button (click)="rerender()" class="btn">Refresh</button>
            <!-- <button class="btn" (click)="ajaxReloadFunction()">Refresh</button> -->
        </div>
        <div class="table-responsive">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover rounded text-center pt-3 mb-3 w-100">
                <thead class="background-orange text-white"></thead>
            </table>
        </div>
    </div>
</div>
<!-- table ends -->