<div class="my-3 text-center">
    <div class="py-2">

        <h5 class="h5">Vehicles</h5>
    </div>
</div>

<div *ngIf="loading" class="text-center">
    <p>Fetching data ...</p>
</div>

<div *ngIf="!loading">

    <div class="text-center">
        <p *ngIf="allVehicles.length==0">No Data Available</p>
    </div>
<div class="mx-2 mt-4 rounded">
    <div class="my-2">
    </div>
    <div class="table-responsive mb-5">
        <table datatable *ngIf="allVehicles.length>0"
            class="table table-borderless  table-hover  spacetr">
            <thead class="text-secondary">
                <tr>
                    <th >
                        <small class="text-secondary">COMPANY</small>
                    </th>
                    <th >
                        <small class="text-secondary">MODEL</small>
                    </th>
                    <th >
                        <small class="text-secondary">SUGGESTED PRODUCTS</small>
                    </th>
                    <th >
                        <small class="text-secondary">TYPE</small>
                    </th>
                </tr>
            </thead>
            <tbody class="border-0">
                <ng-container *ngFor="let vehicle of allVehicles">

                    <tr class="shadow shadow-sm rounded-3"  (click)="onClick(vehicle._id)">
                        <td class=" p-3">{{vehicle.vehicleCompany}}</td>
                        <td class=" p-3"> {{vehicle.vehicleModel }}</td>
                        <td class="p-3">
                            {{ vehicle.suggestedProduct.length }}
                        </td>
                        <td class="p-3"> 
                            <!-- {{ vehicle.vehicleType }} -->
                            <i *ngIf="vehicle.vehicleType == '2-wheeler'" class="fas fa-motorcycle mx-1 text-secondary"></i>
                                    <img  *ngIf="vehicle.vehicleType == '3-wheeler'" src="/assets/img/auto-icon.svg" alt="3 Wheeler" width="25 px">
                                    <i *ngIf="vehicle.vehicleType == '4-wheeler'" class="fas fa-car mx-1 text-secondary"></i>
                                    <i *ngIf="vehicle.vehicleType == 'truck'" class="fas fa-truck mx-1 text-secondary"></i>
                        </td>
                        
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
</div>