<div class=" row pt-3">
  <div class="col-sm-9">

    <h3 class="h3 mb-1">Hello, Username</h3>
    <p class="m-0"><small class="text-secondary">Welcome back</small></p>
  </div>

  <!-- <div class="col-sm-3">
    <input type="search" name="search" id="search" class="form-control p-2" placeholder="Search">
  </div> -->

</div>

<!-- overview  -->
<div class="mt-3 py-3 d-flex flex-wrap">
  <div class="p-1 m-2 border bg-white rounded border-bottom-orange">
    <div class="d-flex align-items-center">
      <div class="p-2 ">
        <span *ngIf="!statsLoadingFlag" class="h1 text-center">{{ dashBoardStats.numberOfActiveGarages + dashBoardStats.numberOfDeactiveGarages }}</span>
      </div>
      <div class="p-2">
        <div class="text-center">
          <i class="fas fa-wrench fa-2x"></i> <br>
          Total Affiliated Garages
        </div>
      </div>
    </div>
  </div>
  <div class="p-1 m-2 border bg-white rounded border-bottom-orange">
    <div class="d-flex align-items-center">
      <div class="p-2 ">
        <span *ngIf="!statsLoadingFlag"  class="h1 text-center">{{ dashBoardStats.numberOfCustomers }}</span>
      </div>
      <div class="p-2">
        <div class="text-center">
          <i class="fas fa-users fa-2x"></i> <br>
          Total Serving Customers
        </div>
      </div>
    </div>
  </div>
  <div class="p-1 m-2 border bg-white rounded border-bottom-orange">
    <div class="d-flex align-items-center">
      <div class="p-2 ">
        <span *ngIf="!statsLoadingFlag"  class="h1 text-center">{{ dashBoardStats.numberOfActiveScheme + dashBoardStats.numberOfConcludeScheme + dashBoardStats.numberOfUpComingScheme}}</span>
      </div>
      <div class="p-2">
        <div class="text-center">
          <i class="fas fa-road fa-2x"></i> <br>
          Total Schemes Organised
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-8 px-md-3">

    <div class="card border-left-orange broder-end-0 border-top-0 border-bottom-0 shadow shadow-sm mb-3">
      <div class=" p-3 my-3  ">
        <h6 class="h5 text-secondary">ORGANIZE SCHEME</h6>
        <p>Schemes are the offers that you can organise to attract more customers or garages. One scheme can only be for customers or for garages. Specific products can be choosen to be a part of scheme and specify the dates of starting and ending of the scheme.</p>
        
        <a href="/schemes">See all schemes</a>
        
        <div class="p-2">
          <small class="text-secondary">RECENT SCHEMES:</small>
          <p> <small class="text-secondary">1. </small> New scheme - <span class="text-secondary">Garages</span> <a href="/schems">Visit</a> </p>
        </div>
      </div>
    </div>

    <div class="card border-left-orange broder-end-0 border-top-0 border-bottom-0 shadow shadow-sm mb-3">
      <div class="p-3 my-3">

        <h6 class="h5 text-secondary">SEND BROADCAST</h6>
        <p>Broadcast are the messages that you can send to either customer or garages members on a specific occasion, that occasion can be any festival or any information regarding new schemes or offers that you want to give then.</p>
        
        <a href="/broadcasts">See all Broadcasts</a>
        
        <div class="p-2">
            <small class="text-secondary">RECENT BROADCASTS:</small>
          <p> <small class="text-secondary">1. </small> New scheme - <span class="text-secondary">Garages</span> <a href="/schems">Visit</a> </p>
        </div>
        
      </div>
    </div>

  </div>

  <div class="col-md-4 px-md-3">
    
    <!-- orders -->
    <div class=" ">
      <h6 class="h6 text-secondary">RECENT ORDERS</h6>

      <div class="card   rounded-0 border-0 my-3">
        <div class="card-body border-left-orange">
          <h6 class="card-title">Garage Name Here</h6>
          <p class="text-secondary m-0">The Garage name - placeholder</p> 

          <small>
            <a href="/orders" class="stretched-link">See Order</a>
          </small>

        </div>
      </div>


      <div class="card  rounded-0 border-0 my-3">
        <div class="card-body border-left-orange">
          <h6 class="card-title">Garage Name Here</h6>
          <p class="text-secondary m-0">The Garage name - placeholder</p> 

          <small>
            <a href="/orders" class="stretched-link">See Order</a>
          </small>

        </div>
      </div>


      <div class="card  rounded-0 border-0 my-3">
        <div class="card-body border-left-orange">
          <h6 class="card-title">Garage Name Here</h6>
          <p class="text-secondary m-0">The Garage name - placeholder</p> 

          <small>
            <a href="/orders" class="stretched-link">See Order</a>
          </small>

        </div>
      </div>


      <div class="card  rounded-0 border-0 my-3">
        <div class="card-body border-left-orange">
          <h6 class="card-title">Garage Name Here</h6>
          <p class="text-secondary m-0">The Garage name - placeholder</p> 

          <small>
            <a href="/orders" class="stretched-link">See Order</a>
          </small>

        </div>
      </div>


      <div class="card  rounded-0 border-0 my-3">
        <div class="card-body border-left-orange">
          <h6 class="card-title">Garage Name Here</h6>
          <p class="text-secondary m-0">The Garage name - placeholder</p> 

          <small>
            <a href="/orders" class="stretched-link">See Order</a>
          </small>

        </div>
      </div>

      


      
    </div>

  </div>

</div>

