<div class="d-flex flex-wrap flex-md-nowrap pt-3">
  <h3 class="h3"> <i class="fas fa-home"></i> Dashboard</h3>
</div>



<div class="p-2">
  <!-- overview  -->
  <div class="py-3 d-flex" style="flex-wrap: wrap;">
    <div class="p-1 m-2 border bg-white rounded border-bottom-orange">
      <div class="d-flex align-items-center">
        <div class="p-2 ">
          <span *ngIf="!statsLoadingFlag" class="h1 text-center">{{ dashBoardStats.numberOfActiveGarages + dashBoardStats.numberOfDeactiveGarages }}</span>
        </div>
        <div class="p-2">
          <div class="text-center">
            <i class="fas fa-wrench fa-2x"></i> <br>
            Total Affiliated Garages
          </div>
        </div>
      </div>
    </div>
    <div class="p-1 m-2 border bg-white rounded border-bottom-orange">
      <div class="d-flex align-items-center">
        <div class="p-2 ">
          <span *ngIf="!statsLoadingFlag"  class="h1 text-center">{{ dashBoardStats.numberOfCustomers }}</span>
        </div>
        <div class="p-2">
          <div class="text-center">
            <i class="fas fa-users fa-2x"></i> <br>
            Total Serving Customers
          </div>
        </div>
      </div>
    </div>
    <div class="p-1 m-2 border bg-white rounded border-bottom-orange">
      <div class="d-flex align-items-center">
        <div class="p-2 ">
          <span *ngIf="!statsLoadingFlag"  class="h1 text-center">{{ dashBoardStats.numberOfActiveScheme + dashBoardStats.numberOfConcludeScheme + dashBoardStats.numberOfUpComingScheme}}</span>
        </div>
        <div class="p-2">
          <div class="text-center">
            <i class="fas fa-road fa-2x"></i> <br>
            Total Schemes Organised
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-md-5 ms-md-5">
    <p class="lead fw-normal m-1">Visit page</p>
    <div class="ms-md-3">
      <p><a routerLink="/garages" class="text-decoration-none text-dark"> <i class="fas fa-wrench"></i> Garages </a> - See garages...</p>
      <p><a routerLink="/customers" class="text-decoration-none text-dark"> <i class="fas fa-users"></i> Customers </a> - See customers...</p>
      <p><a routerLink="/products" class="text-decoration-none text-dark"> <i class="fas fa-tags"></i> Products </a> - See products...</p>
      <p><a routerLink="/vehicles" class="text-decoration-none text-dark"> <i class="fas fa-motorcycle"></i> Vehicles </a> - See vehicles...</p>
      <p><a routerLink="/schemes" class="text-decoration-none text-dark"> <i class="fas fa-object-ungroup"></i> Schemes </a> - See schemes...</p>
      <p><a routerLink="/orders" class="text-decoration-none text-dark"> <i class="fas fa-dice-d6"></i> Orders </a> - See orders...</p>
    </div>
  </div>

  
  <div class="mt-md-3 ms-md-5">
    <p class="lead fw-normal m-1">Quick Links</p>
    <div class="ms-md-3">
      <ul class="list-unstyled px-1">
        <li class="py-1">
            <a routerLink="/myaccount" class="text-decoration-none text-dark">
                <i class="fas fa-user-circle"></i>
                Profile
            </a>
        </li>
        <li class="py-1">
            <a routerLink="/myactivities" class="text-decoration-none text-dark">
                <i class="fas fa-chart-line"></i>
                Activities
            </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-md-3 ms-md-5">
    <p class="lead fw-normal m-1">Logout</p>
    <button (click)="logout()" class="btn text-danger">
        <i class="fas fa-sign-out-alt"></i>
        Logout
    </button>
  </div>

</div>