<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oilwale - Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="box mx-1 mx-md-0">

            <div class="row d-flex align-items-center">
                <div class="col-md-5">
                    <div class="py-3">

                        <img src="/assets/img/mpl.jpeg" class="img-fluid mx-3 px-0 d-md-block d-none" alt="Logo image">
                    </div>

                </div>
                <div class="col-md-7 pb-5 px-3">
                    <div *ngIf="currentFormComponent == 'login' ">
                        <app-login-form></app-login-form>
                    </div>

                    <div *ngIf="currentFormComponent == 'forgetPassword'">
                        <app-forget-paasword></app-forget-paasword>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>