<div class="d-flex flex-wrap pt-3">
    <h3 class="h3"><i class="fas fa-motorcycle"></i> Vehicles</h3>
</div>

<!-- Page nav startes -->
<ul class="nav border-bottom" id="myTab" role="tablist">
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark active border-bottom-orange vehicles-tab" onclick="change_tab('vehicles-tab', 0)"
            id="all_vehicles-tab" data-bs-toggle="tab" data-bs-target="#all_vehicles" type="button" role="tab"
            aria-controls="all_vehicles" aria-selected="true">
            <i class="fas fa-border-all"></i> All vehicles</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark vehicles-tab" onclick="change_tab('vehicles-tab', 1)" id="add_products-tab"
            data-bs-toggle="tab" data-bs-target="#add_vehicle" type="button" role="tab" aria-controls="add_vehicle"
            aria-selected="false">
            <i class="fas fa-plus"></i> Add Vehicle</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark vehicles-tab" onclick="change_tab('vehicles-tab', 2)" id="product_activities-tab"
            data-bs-toggle="tab" data-bs-target="#vehicles_activities" type="button" role="tab"
            aria-controls="vehicles_activities" aria-selected="false">
            <i class="fas fa-code-branch"></i> Vehicle Activities</a>
    </li>
</ul>
<!-- page nav ends -->

<!-- wrapper -->
<div class="tab-content" id="myTabContent">
    <!-- all Vehicle -->
    <div class="tab-pane show active" id="all_vehicles" role="tabpanel" aria-labelledby="all_vehicles-tab">
        <app-all-vehicles
            [allVehicles]="allVehicles"
        ></app-all-vehicles>
    </div>
    <!-- all Vehicle ends-->

    <!-- add Vehicle -->
    <div class="tab-pane fade" id="add_vehicle" role="tabpanel" aria-labelledby="add_vehicle-tab">
        <app-add-vehicle 
            (onAddVehicle)="addVehicle($event)"
            (onAddVehicleComany)="addVehicleCompany($event)"
            [vehicleCompanies]="allVehicleCompanies" 
            [suggestedProducts]="allProducts"
            [addVehicleSuccess] = "addVehicleSuccess"
            [addVehicleLoading] = "addVehicleLoading"
            [addVehicleFailure] = "addVehicleFaliure"
            [addVehicleCompanySuccess]="addVehicleCompanySuccess"
            [addVehicleCompanyLoading]="addVehicleCompanyLoading"
            [addVehicleCompanyFailure]="addVehicleCompanyFailure"
        ></app-add-vehicle>
    </div>
    <!-- add Vehicle -->

    <!-- add Vehicle  company-->
    <div class="tab-pane fade" id="add_vehicle_company" role="tabpanel" aria-labelledby="add_vehicle_company-tab">
        <div class="py-3">
            <div class="py-2 text-center">Add Company</div>
        </div>
    </div>
    <!-- add Vehicle company -->

    <!-- Vehicle activitites -->
    <div class="tab-pane fade" id="vehicles_activities" role="tabpanel" aria-labelledby="vehicles_activities-tab">
        <!-- activities starts -->
        <app-vehicle-activities></app-vehicle-activities>
        <!-- activities end -->
    </div>
    <!-- Vehicle activitites -->
</div>
<!-- wrapper ends -->