
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: orangered;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: orangered
}