<p class="lead" *ngIf="dataLoadingStatus">Loading ...</p>



<div *ngIf="!dataLoadingStatus">
    <div class="d-flex flex-wrap py-3">
        <h3 class="h3">
            <a routerLink="/vehicles" class="text-decoration-none text-dark">
                <i class="fas fa-motorcycle"></i> Vehicles 
            </a>
            <i class="fas fa-angle-right"></i> {{ vehicleDetails.vehicleModel.toUpperCase() }}</h3>
    </div>

    <div class="row my-3">
        <div class="col-lg-6">
            <div class="p-3">
                <p class="fw-bold">VEHICLE INFORMATION</p>
                <table class="table table-bordered table-hover p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Company Name</td>
                            <td class="p-3"> {{ vehicleDetails.vehicleCompany.vehicleCompany }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Model</td>
                            <td class="p-3"> {{ vehicleDetails.vehicleModel }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Suggested Products</td>
                            <td class="p-3"> <span class="badge background-orange"> {{ vehicleDetails.suggestedProductDetails.length }}  </span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-3" *ngIf="vehicleDetails.suggestedProductDetails.length > 0">
                <p class="fw-bold">SUGGESTED PRODUCTS LIST</p>
                <div class="vstack gap-2">
                    <div *ngFor="let prod of vehicleDetails.suggestedProductDetails" class="px-md-2">

                        <div > - <a class="text-decoration-none text-dark" routerLink="/products/{{ prod.productId }}"> {{ prod.productName }} <sup> <i class="fas fa-link"></i></sup></a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-3">
                <p class="fw-bold">VEHICLE DATA</p>
                <table class="table table-bordered table-hover p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Vehicle Id</td>
                            <td class="p-3"> {{ vehicleDetails._id }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Added on</td>
                            <td class="p-3"> {{ vehicleDetails.createdAt | date:"medium" }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Last Updated</td>
                            <td class="p-3">
                                <span *ngIf="vehicleDetails.updatedAt == null"> <small> Never</small> </span>
                                <span *ngIf="vehicleDetails.updatedAt != null"> {{ vehicleDetails.updatedAt | date:"medium" }} </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Status</td>
                            <td class="p-3"> 
                                <span *ngIf="vehicleDetails.active == true" class="badge bg-success">Active</span> 
                                <span *ngIf="vehicleDetails.active == false" class="badge bg-danger">Deactivated</span> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-3">
                <p class="fw-bold">ACTION ZONE!</p>
                <table class="table table-bordered table-hover p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Update vehicle</td>
                            <td class="p-3"> <a routerLink="/vehicles/{{ vehicleDetails._id }}/edit" class="btn text-info"> Update vehicle info </a></td>
                        </tr>
                        <tr *ngIf="vehicleDetails.active == false">
                            <td class="p-3">Restore Vehicle</td>
                            <td class="p-3"> 
                                <button (click)="onRestoreVehicle()" [disabled]="restoreLoadingFlag" class="btn text-success">
                                    <span *ngIf="!restoreLoadingFlag">
                                        Restore
                                    </span>
                                    <span *ngIf="restoreLoadingFlag">
                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="vehicleDetails.active == true">
                            <td class="p-3">Delete Vehicle</td>
                            <td class="p-3">
                                <button (click)="onDeleteVehicle(vehicleDetails._id)" [disabled]="deleteLoadingFlag" class="btn link-danger">
                                    <span *ngIf="!deleteLoadingFlag">
                                        Delete
                                    </span>
                                    <span *ngIf="deleteLoadingFlag">
                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="my-3" *ngIf="sameCompanyVehicles.length > 1">
        <div class="p-3">

            <p class="fw-bold">MORE VEHICLES BY THIS COMPANY</p>
            <div class="gap-3">
                <div *ngFor="let v of sameCompanyVehicles">
                    <div *ngIf="vehicleDetails._id != v.vehicleId">
                        - <a href="/vehicles/{{ v.vehicleId }}" target="_blank" class="text-decoration-none text-dark"> {{ v.vehicleModel }} </a> <sup><i class="fas fa-link"></i></sup> 
                    </div>
                </div>
                
            </div>
        </div>
    </div>


</div>