<div class="d-flex flex-wrap pt-3">
    <h3 class="h3"><i class="fas fa-users"></i> Customers</h3>
</div>
<!-- Page nav startes -->
<ul class="nav border-bottom" id="myTab" role="tablist">
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark active border-bottom-orange customers-tab" onclick="change_tab('customers-tab', 0)"
            id="all_customers-tab" data-bs-toggle="tab" data-bs-target="#all_customers" type="button" role="tab"
            aria-controls="all_customers" aria-selected="true">
            <i class="fas fa-border-all"></i> <span class="d-none d-md-inline "> Active </span></a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark customers-tab" id="customer_activities-tab"
            onclick="change_tab('customers-tab', 1)" data-bs-toggle="tab" data-bs-target="#customer_activities" (click)="fetchCustomerActivities()"
            type="button" role="tab" aria-controls="customer_activities" aria-selected="false">
            <i class="fas fa-code-branch"></i> <span class="d-none d-md-inline ">  Activities</span></a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark customers-tab" id="restrictedCustomers-tab"
            onclick="change_tab('customers-tab', 2)" data-bs-toggle="tab" data-bs-target="#restrictedCustomers"
            type="button" role="tab" aria-controls="restrictedCustomers" aria-selected="false">
            <i class="fas fa-ban"></i> <span class="d-none d-md-inline "> Restricted </span> </a>
    </li>
</ul>
<!-- page nav ends -->

<div class="tab-content" id="myTabContent">
    <!-- All Customer div -->

    <div class="tab-pane fade show active" id="all_customers" role="tabpanel" aria-labelledby="all_customers-tab">
        <app-all-customers [customers]="customers" [loading]="customersLoadingFlag"></app-all-customers>
    </div>

    <div class="tab-pane fade" id="customer_activities" role="tabpanel" aria-labelledby="customer_activities-tab" >
       <app-customer-activities [activities]="customerActivities" [loading]="activitiesLoading"></app-customer-activities>
    </div>
    
    <div class="tab-pane fade" id="restrictedCustomers" role="tabpanel" aria-labelledby="restrictedCustomers-tab">
        <app-restricted-customers [restrictedCustomers]="restrictedCustomers" [loading]="restrictedCustomersLoadingFlag"></app-restricted-customers>
     </div>
</div>



<script src="../../../assets/js/customers.js"></script>