<div class="my-3 text-center">
    <div class="py-2">

        <h5 class="h5">Active Products</h5>
    </div>
</div>

<div *ngIf="loading" class="text-center">
    <p>Fetching data ...</p>
</div>

<div *ngIf="!loading">

    <div class="text-center">
        <p *ngIf="productList.length==0">No Data Available</p>
    </div>
<div class="mx-2 mt-4 rounded mb-4">
    <div class="my-2">
    </div>
    <div class="table-responsive">
        <table datatable *ngIf="productList.length>0"
            class="table table-borderless  table-hover  spacetr">
            <thead class="text-secondary">
                <tr>
                    <th ><small class="text-secondary">PRODUCT</small></th>
                    <th><small class="text-secondary">SPECIFICATION</small></th>
                    <th><small class="text-secondary">GRADE</small></th>
                    <th ><small class="text-secondary">PACKET SIZE</small></th>
                    <th >
                        <span class="text-secondary"><i class="fas fa-motorcycle"></i></span>
                    </th>
                    <th >
                        <img src="/assets/img/auto-icon.svg" alt="3 Wheeler" width="25 px">
                    </th>
                    <th >
                        <span class="text-secondary"><i class="fas fa-car"></i></span>
                    </th>
                    <th >
                        <span class="text-secondary"><i class="fas fa-truck"></i></span>
                    </th>
                    
                </tr>
            </thead>
            <tbody class="border-0"> 
                <ng-container *ngFor="let product of productList">

                <tr class="shadow shadow-sm rounded-3" (click)="onClick(product.productId)" >
                    <td class=" p-3">{{product.productName}}</td>
                    <td class=" p-3">{{product.specification}}</td>
                    <td class=" p-3">{{product.grade}}</td>
                    <td class=" p-3">{{product.packingSize}}</td>
                    <td class=" p-3">
                        <span *ngFor="let type of product.vehicleType">
                            <span *ngIf="type == '2-wheeler'"> <i class="fas fa-check"></i> </span>
                        </span>
                    </td>
                    <td class=" p-3">
                        <span *ngFor="let type of product.vehicleType">
                            <span *ngIf="type == '3-wheeler'"> <i class="fas fa-check"></i> </span>
                        </span>
                    </td>
                    <td class=" p-3">
                        <span *ngFor="let type of product.vehicleType">
                            <span *ngIf="type == '4-wheeler'"> <i class="fas fa-check"></i> </span>
                        </span>
                    </td>
                    <td class=" p-3">
                        <span *ngFor="let type of product.vehicleType"  >
                            <span *ngIf="type == 'trucks'"> <i class="fas fa-check"></i> </span>
                        </span>
                    </td>
                    
                </tr>
            </ng-container>

            </tbody>
        </table>
    </div>
</div>
</div>