<div class="my-3 text-center">
  <div class="py-2">
    <h5 class="h5">PAST SCHEMES</h5>
  </div>
</div>

<div *ngIf="loading" class="text-center">
  <p>Fetching data ...</p>
</div>

<div *ngIf="!loading && schemes.length == 0">
  <div class="text-center">
    <p>No past schemes.</p>
  </div>
</div>

<div *ngIf="!loading && schemes.length != 0">
  <div class="mx-2 mt-4 rounded">
    <div class="table-responsive">
      <table datatable class="table table-borderless table-hover spacetr">
        <thead class="text-secondary">
          <tr>
            <th><small class="text-secondary">SCHEME NAME</small></th>
            <th>
              <small class="text-secondary">DESCRIPTION</small>
            </th>
            <th>
              <small class="text-secondary">ACCEPTED BY </small>
            </th>
            <th>
              <small class="text-secondary">STARTED AT</small>
            </th>
            <th>
              <small class="text-secondary">ENDED AT</small>
            </th>
            
          </tr>
        </thead>
        <tbody class="border-0">
            <ng-container  *ngFor="let s of schemes" >

                <tr class="shadow shadow-sm rounded-3" (click)="onClick(s.scheme.schemeId)">
                    <td class="p-2">{{ s.scheme.schemeName }}</td>
                    <td class="p-2">{{ s.scheme.description }}</td>
                    <!-- <td class="p-2">
                      <small class="text-secondary"> 
                        <strong>26</strong> / <span class="">50</span> 
                      </small>
                       
                    </td> -->
                    <td class="p-2">{{ s.scheme.startedAt | date: "MMM dd, yyyy" }}</td>
                    <td class="p-2">{{ s.scheme.endedAt | date: "MMM dd, yyyy" }}</td>
                    
            </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
