<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .error {
        color: red;
        font-size: 0.75rem;
        font-weight: bold;
    }
</style>

<body>


    <div class="d-flex flex-wrap flex-md-nowrap pt-3">
        <h3 class="h3"><i class="fas fa-wrench"></i> Garages</h3>
    </div>

    <ul class="nav border-bottom" id="myTab" role="tablist">
        <li class="nav-item mx-1" role="presentation">
            <a class="nav-link text-dark garage-tab active border-bottom-orange" onclick="change_tab('garage-tab',0)"
                id="all_garages-tab" data-bs-toggle="tab" data-bs-target="#all_garages" type="button" role="tab"
                aria-controls="all_garages" aria-selected="true">
                <i class="fas fa-border-all"></i> Active Garages
            </a>
        </li>
        <li class="nav-item mx-1" role="presentation">
            <a class="nav-link text-dark garage-tab" id="add_garage-tab" onclick="change_tab('garage-tab',1)"
                data-bs-toggle="tab" data-bs-target="#add_garage" type="button" role="tab" aria-controls="add_garage"
                aria-selected="false">
                <i class="fas fa-plus"></i> Add Garage
            </a>
        </li>

        <li class="nav-item mx-1" role="presentation" (click)="fetchGrageActivities()">
            <a class="nav-link text-dark garage-tab" id="garage_activities-tab" onclick="change_tab('garage-tab',2)"
                data-bs-toggle="tab" data-bs-target="#garage_activities" type="button" role="tab"
                aria-controls="garage_activities" aria-selected="false">
                <i class="fas fa-code-branch"></i> Garage Activities
            </a>
        </li>

        <li class="nav-item mx-1" role="presentation">
            <a class="nav-link text-dark garage-tab" id="deactivated_garages-tab" onclick="change_tab('garage-tab',3)"
                data-bs-toggle="tab" data-bs-target="#deactivated_garages" type="button" role="tab"
                aria-controls="deactivated_garages" aria-selected="false">
                <i class="fas fa-ban"></i> Deleted Garages
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="all_garages" role="tabpanel" aria-labelledby="all_garages-tab">
            <app-active-garages [garages]="garages" [loading]="activeGaragesLoading"></app-active-garages>
        </div>

        <!-- Add garage tab -->
        <div class="tab-pane fade" id="add_garage" role="tabpanel" aria-labelledby="add_garage-tab">
            <app-add-garage></app-add-garage>
        </div>
        
        <div class="tab-pane fade" id="garage_activities" role="tabpanel" aria-labelledby="garage_activities-tab">
            <!-- activities starts -->
            <app-garage-activities [activities]="garageActivities" [loading]="activitiesLoading"></app-garage-activities>
        </div>
        <div class="tab-pane fade" id="deactivated_garages" role="tabpanel" aria-labelledby="deactivated_garages-tab">
            <div class="m-3">
                <app-deleted-garages [deactivatedGarages]="deactivatedGarages" [loading]="deactiveGaragesLoading"></app-deleted-garages>
            </div>
        </div>
    </div>

</body>

</html>