<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .error {
        color: red;
        font-size: 15px;
        font-weight: bold;
    }
</style>

<body>


    <div class="d-flex flex-wrap flex-md-nowrap pt-3">
        <h3 class="h3"><i class="fas fa-wrench"></i> Garages</h3>
    </div>

    <ul class="nav border-bottom" id="myTab" role="tablist">
        <li class="nav-item mx-1" role="presentation">
            <a class="nav-link text-dark garage-tab active border-bottom-orange" onclick="change_tab('garage-tab',0)"
                id="all_garages-tab" data-bs-toggle="tab" data-bs-target="#all_garages" type="button" role="tab"
                aria-controls="all_garages" aria-selected="true">
                <i class="fas fa-border-all"></i> All Garages
            </a>
        </li>
        <li class="nav-item mx-1" role="presentation">
            <a class="nav-link text-dark garage-tab" id="add_garage-tab" onclick="change_tab('garage-tab',1)"
                data-bs-toggle="tab" data-bs-target="#add_garage" type="button" role="tab" aria-controls="add_garage"
                aria-selected="false">
                <i class="fas fa-plus"></i> Add Garage
            </a>
        </li>

        <li class="nav-item mx-1" role="presentation">
            <a class="nav-link text-dark garage-tab" id="garage_activities-tab" onclick="change_tab('garage-tab',2)"
                data-bs-toggle="tab" data-bs-target="#garage_activities" type="button" role="tab"
                aria-controls="garage_activities" aria-selected="false">
                <i class="fas fa-code-branch"></i> Garage Activities
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- All garage div -->

        <div class="tab-pane fade show active" id="all_garages" role="tabpanel" aria-labelledby="all_garages-tab">
            <!-- table starts -->
            <!-- <div *ngIf="isSubmitted" style="float: right;margin-top: 30px;">
                <button class="btn btn-outline-primary" (click)="reload()"><i class="fas fa-sync"></i></button>
            </div> -->
            <div class="mt-2 pt-2 text-center lead fw-normal">

                <p>{{ garageShowTableName | uppercase }} GARAGES</p>
            </div>

            <div class="d-flex justify-content-end">
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <select name="display-type" id="display-type" class="form-select" [(ngModel)]="garageShowTableName" >
                        <option value="active"> Active Garages</option>
                        <option value="disabled"> Disabled Garages</option>
                    </select>
                </div>
            </div>
            <div class="py-3">
                <div *ngIf="garageShowTableName === 'active'">
                    <app-active-garages [garages]="garages" ></app-active-garages>
                </div>
                <div *ngIf="garageShowTableName === 'disabled'">
                    <app-deleted-garages></app-deleted-garages>
                </div>

            </div>
            <!-- table ends -->
        </div>

        <!-- Add garage form -->
        <div class="tab-pane fade" id="add_garage" role="tabpanel" aria-labelledby="add_garage-tab">
            <div class="py-3">
                <div class="py-2 text-center">
                    <h5 class="h5">Add Garages</h5>
                </div>
                <div class="mx-auto col-lg-8 col-md-10 col-sm-12 mb-3">
                    <div id="add_garage_response" class="">
                        <div *ngIf="newAddedGarage" class="alert alert-success alert-dismissible fade show"
                            role="alert">
                            <strong><i class="fas fa-check-circle"></i> Success!</strong> New garage with name
                            <strong>{{newAddedGarage.name}}</strong> added successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <form class="py-3" id="garageAddForm" (ngSubmit)="addGarage()" [formGroup]="garage">
                        <!-- Garage person:- Personal Name,Garage Name,Address,Image,Credits,Phone Number,Pin Code -->
                        <div class="row mb-3">
                            <label for="Full_Name" class="col-sm-3 col-form-label">Owner Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="name" formControlName="name" class="form-control"
                                    id="Full_Name" placeholder="Owner name" />
                                <div *ngIf="garage.get('name')?.touched">
                                    <span class="error" *ngIf="garage.get('name')?.hasError('required')">This field
                                        is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Garage_Name" class="col-sm-3 col-form-label">Garage Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="garageName" name="garageName"
                                    id="Garage_Name" placeholder="Garage name" />
                                <div *ngIf="garage.get('garageName')?.touched">
                                    <span class="error" *ngIf="garage.get('garageName')?.hasError('required')">This
                                        field
                                        is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Phone_Number" class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber"
                                    id="Phone_Number" placeholder="ex - 9999999999" />

                                <span class="error"
                                    *ngIf="garage.get('phoneNumber')?.hasError('required') &&  garage.get('phoneNumber')?.touched">This
                                    field is required.</span>
                                <span class="error"
                                    *ngIf="garage.get('phoneNumber')?.hasError('minlength') && garage.get('phoneNumber')?.touched">Phone
                                    number
                                    should
                                    be of 10 digits.</span>
                                <span class="error"
                                    *ngIf="garage.get('phoneNumber')?.hasError('pattern') && garage.get('phoneNumber')?.touched">Please
                                    enter a
                                    valid number.</span>

                                <span class="error"
                                    *ngIf="garage.get('phoneNumber')?.hasError('maxlength') && garage.get('phoneNumber')?.touched">Phone
                                    number
                                    should
                                    be of 10 digits.</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Phone_Number_alt" class="col-sm-3 col-form-label">Alternate Number</label>
                            <div class="col-sm-9">
                                <input type="text" name="alternateNumber" formControlName="alternateNumber"
                                    class="form-control" id="Phone_Number_alt" placeholder="OPTIONAL" />
                                <span class="error" *ngIf="garage.get('alternateNumber')?.hasError('minlength')">Phone
                                    number
                                    should
                                    be of 10 digits.</span>
                                <span class="error" *ngIf="garage.get('alternateNumber')?.hasError('maxlength')">Phone
                                    number
                                    should
                                    be of 10 digits.</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Gst_Number" class="col-sm-3 col-form-label">GST Number </label>
                            <div class="col-sm-9">
                                <input type="text" name="gstNumber" formControlName="gstNumber" class="form-control"
                                    id="Gst_Number" placeholder="22-AAAAA0000A-1-Z-5" />
                                <span class="error" *ngIf="garage.get('gstNumber')?.hasError('pattern')">GST number should be of 15 characters.</span>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Gst_Number" class="col-sm-3 col-form-label">PAN Number </label>
                            <div class="col-sm-9">
                                <input type="text" name="PanNumber" formControlName="panNumber" class="form-control"
                                    id="Gst_Number" placeholder="AAA-A-A-9999-A (optional)" />
                                <span class="error" *ngIf="garage.get('gstNumber')?.hasError('pattern')">PAN number
                                    should be of
                                    15 characters.</span>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Address" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <textarea name="address" class="form-control" formControlName="address" id="Address"
                                    cols="" rows="5" placeholder="Address of garage"></textarea>
                                <span class="error" class="error"
                                    *ngIf="garage.get('address')?.hasError('required') && garage.get('address')?.touched">This
                                    field
                                    is required.</span>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Pincode" class="col-sm-3 col-form-label">Pincode</label>
                            <div class="col-sm-9">
                                <input type="text" name="pincode" formControlName="pincode" #pincode
                                    class="form-control" id="Pincode" placeholder="ex - 380001"
                                    (blur)="getArea(pincode.value)" />
                                <span class="error" *ngIf="!isValidPincode">Pincode is not valid</span>
                                <span class="error"
                                    *ngIf="garage.get('pincode')?.hasError('minlength') && garage.get('pincode')?.touched ">Pincode
                                    should be of 6
                                    digits.</span>
                                <span class="error"
                                    *ngIf="garage.get('pincode')?.hasError('maxlength') && garage.get('pincode')?.touched">Pincode
                                    should be of 6
                                    digits.</span>
                                <span class="error"
                                    *ngIf="garage.get('pincode')?.hasError('required') && garage.get('pincode')?.touched">This
                                    field is required.</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="Area" class="col-sm-3 col-form-label">Area</label>
                            <div class="col-sm-9">
                                <select name="area" formControlName="area" id="areaOptions" class="form-select">
                                    <option value="">-- Provide pincode first --</option>
                                    <option *ngFor="let area of areas" value="{{area}}">{{area}}</option>
                                </select>
                                <span class="error" *ngIf="garage.get('area')?.hasError('required')"></span>
                            </div>
                        </div>

                        <!-- <div class="row mb-3">
                            <label for="Garage_Image" class="col-sm-3 col-form-label">Garage Image</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="file" name="image" multiple id="Garage_Image" />
                            </div>
                        </div> -->
                        
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn background-orange text-white" id="add_garage_submit_btn"
                            [disabled]="!garage.valid">Add
                            Garage</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="garage_activities" role="tabpanel" aria-labelledby="garage_activities-tab">
            <!-- activities starts -->
            <div class="py-3">
                <div class="table-responsive mt-4">
                    <table datatable
                        class="table table-bordered table-hover text-center rounded make_datatable pt-3 mb-3">
                        <thead class="background-orange text-white">
                            <tr>
                                <th>
                                    <p class="my-1">Activity ID</p>
                                </th>
                                <th>
                                    <p class="my-1">Date</p>
                                </th>
                                <th>
                                    <p class="my-1">Time</p>
                                </th>
                                <th>
                                    <p class="my-1">User</p>
                                </th>
                                <th>
                                    <p class="my-1">Activity</p>
                                </th>
                                <th>
                                    <p class="my-1">Category</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ACT001235</td>
                                <td>12/02/2021</td>
                                <td>19:15</td>
                                <td><a href="">@Admin21</a></td>
                                <td>A long description of some activity</td>
                                <td>Garage</td>
                            </tr>
                            <tr>
                                <td>ACT001235</td>
                                <td>12/02/2021</td>
                                <td>19:15</td>
                                <td><a href="">@Admin21</a></td>
                                <td>A long description of some activity</td>
                                <td>Garage</td>
                            </tr>
                            <tr>
                                <td>ACT001235</td>
                                <td>12/02/2021</td>
                                <td>19:15</td>
                                <td><a href="">@Admin21</a></td>
                                <td>A long description of some activity</td>
                                <td>Garage</td>
                            </tr>
                            <tr>
                                <td>ACT001235</td>
                                <td>12/02/2021</td>
                                <td>19:15</td>
                                <td><a href="">@Admin21</a></td>
                                <td>A long description of some activity</td>
                                <td>Garage</td>
                            </tr>
                            <tr>
                                <td>ACT001235</td>
                                <td>12/02/2021</td>
                                <td>19:15</td>
                                <td><a href="">@Admin21</a></td>
                                <td>A long description of some activity</td>
                                <td>Garage</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="garage_deleted" role="tabpanel" aria-labelledby="garage_deleted-tab">
            <div class="m-3">

            </div>
        </div>
    </div>

</body>

</html>