<div class="py-3">
    <div class="p-2 text-center">
        <h5 class="h5">Accepted orders</h5>
    </div>

    <div *ngIf="loading" class="text-center">
        <div class="text-secondary">
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Loading...
        </div>
    </div>

    <div *ngIf="!loading && orders.length == 0" class="text-center">All orders complete.</div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div *ngFor="let o of orders" class="accordion-item mx-3 my-4 border-0 shadow">
          <h2 class="accordion-header border-left-orange" id="acc{{o.orderId}}h">
            <a class="btn w-100 p-3" type="button" data-bs-toggle="collapse" attr.data-bs-target="#ac{{o.orderId}}-h" aria-expanded="false" attr.aria-controls="ac{{o.orderId}}-h">
              <div class="d-flex justify-content-between">
                  <div class="text-start">
                      <p class="m-0">
                          <span class="lead fw-normal m-0">{{o.garage.garageName}}</span>
                          <span class="text-secondary m-0"> - {{o.garage.name}}</span>
                        </p>
                        <span><small class="text-secondary"><i class="fas fa-clipboard"></i> Kati zehar note.</small></span>
                  </div>
                  <div class="text-end">
                      <small><p class="text-secondary m-0">Accepted by: {{ o.admin.name }} ( {{ o.admin.phoneNumber }} )</p></small>
                      <small><p class="text-secondary m-0">{{ o.acceptedAt | date:'medium'}}</p></small>

                    </div>
              </div>
            </a>
          </h2>
          <div id="ac{{o.orderId}}-h" class="accordion-collapse collapse border border-left-orange" attr.aria-labelledby="acc{{o.orderId}}h">
            <div class="accordion-body">
                <div class="row border-bottom">
                    <div class="col-md-6 border-end">
                        <p class="mb-3"><small class="text-secondary fw-bold">PRODUCT LIST</small></p>
                        <div class="px-3 mb-3">
                            <ul class="list-group list-group-flush list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between d-inline align-items-start" *ngFor="let pro of o.product">
                                    <div class="ms-2 me-auto">
                                        
                                        <p class="m-0">{{ pro.productName }}</p>
                                        <span><small class="text-secondary">{{pro.grade}}</small></span>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">{{pro.qty}}</span>
                                </li>
                                
                                
                              </ul>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        
                        <p class="mb-1"><small class="text-secondary fw-bold">CONTACT</small></p>
                        <div class="px-3 mb-3">
                            <p class="m-0">
                                <small>{{ o.garage.phoneNumber }}</small>
                            </p>
                            <p class="m-0">
                                <small>{{o.garage.address}}</small>
                            </p>
                            <p class="m-0">
                                <small>{{o.garage.area}}</small>
                            </p>
                            <p class="m-0">
                                <small>{{o.garage.pincode}}</small>
                            </p>
                        </div>

                        <p class="mb-1"><small class="text-secondary fw-bold">ACCEPTED BY</small></p>
                        <div class="px-3 mb-3">
                            <p class="m-0">
                                <small>{{ o.admin.name }} - {{ o.admin.privilege | titlecase }}</small>
                            </p>
                            <p class="m-0">
                                <small>{{o.admin.phoneNumber}}</small>
                            </p>
                            <p class="m-0">
                                <small>{{o.admin.email}}</small>
                            </p>
                            <p class="m-0">
                                <small>{{o.admin.address}}</small>
                            </p>
                        </div>

                        <p class="mb-1"><small class="text-secondary fw-bold">TIMELINE</small></p>
                        <div class="px-3 mb-3">
                            <p class="m-0">
                                <small>{{ o.placedAt | date: 'medium' }} - Order placed </small>
                            </p>
                            <p class="m-0">
                                <small>{{ o.acceptedAt | date: 'medium' }} - Order accepted </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn"  data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-clipboard"></i> Add Note </button>
                    <div>
                        <button class="btn btn-outline-info mx-1" [disabled]="o.status == -999" (click)="completeOrder(o)">
                            <span *ngIf="o.status != -999">
                                <i class="fas fa-check"></i> Mark as Complete
                            </span>
                            <span *ngIf="o.status == -999">
                                <span class="spinner-border spinner-border-sm">
                                    <span class="visually-hidden" role="status">
                                        Loading...
                                    </span>
                                </span>
                                Completing order...
                            </span> 
                        </button>
                        
                    </div>
                </div>

            </div>
          </div>
        </div>
    </div>





</div>