<style>
    .error {
        color: red;
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="d-flex flex-wrap pt-3">
    <h3 class="h3"><i class="fas fa-tags"></i> Products</h3>
</div>

<!-- Page nav startes -->
<ul class="nav border-bottom" id="myTab" role="tablist">
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark active border-bottom-orange products-tab" onclick="change_tab('products-tab', 0)"
            id="all_products-tab" data-bs-toggle="tab" data-bs-target="#all_products" type="button" role="tab"
            aria-controls="all_products" aria-selected="true">
            <i class="fas fa-border-all"></i> Active     Products</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark products-tab" onclick="change_tab('products-tab', 1)" id="add_products-tab"
            data-bs-toggle="tab" data-bs-target="#add_products" type="button" role="tab" aria-controls="add_products"
            aria-selected="false">
            <i class="fas fa-plus"></i> Add Product</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark products-tab" onclick="change_tab('products-tab', 2)" id="product_activities-tab"
            data-bs-toggle="tab" data-bs-target="#product_activities" type="button" role="tab" (click)="fetchProductActivities()"
            aria-controls="product_activities" aria-selected="false">
            <i class="fas fa-code-branch"></i> Product Activities</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark products-tab" onclick="change_tab('products-tab', 3)" id="deletedProducts-tab"
            data-bs-toggle="tab" data-bs-target="#deletedProducts" type="button" role="tab"
            aria-controls="deletedProducts" aria-selected="false">
            <i class="fas fa-ban"></i> Deleted Products</a>
    </li>
</ul>
<!-- page nav ends -->

<!-- wrapper -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all_products" role="tabpanel" aria-labelledby="all_products-tab">
        <app-active-products [productList]="products" [loading]="productFetchLoadingFlag"></app-active-products>
    </div>

    <div class="tab-pane fade" id="add_products" role="tabpanel" aria-labelledby="add_products-tab">
        <app-add-product></app-add-product>
    </div>

    <div class="tab-pane fade" id="product_activities" role="tabpanel" aria-labelledby="product_activities-tab">
        <app-product-activities [activities]="productsActivities" [loading]="activitiesLoading"></app-product-activities>
    </div>

    <div class="tab-pane fade" id="deletedProducts" role="tabpanel" aria-labelledby="deletedProducts-tab">
        <app-deleted-products [products]="deletedProducts" [loading]="deletedProductsFetchLoading"></app-deleted-products>
    </div>

</div>
<!-- wrapper ends -->