<div class="my-3 text-center">
    <div class="py-2">

        <h5 class="h5">PAST ORDERS</h5>
    </div>
</div>

<div *ngIf="loading" class="text-center">
    <p>Fetching data ...</p>
</div>

<div *ngIf="!loading">

    <div class="text-center">
        <!-- <p *ngIf="orders.length==0">No Data Available</p> -->
    </div>
<div class="mx-2 mt-4 rounded">
    <div class="my-2">
    </div>
    <div class="table-responsive">
        <table datatable
            class="table table-borderless  table-hover  spacetr">
            <thead class="text-secondary">
                <tr>
                    <th >
                        <small class="text-secondary">GARAGE NAME</small>
                    </th>
                    <th>
                        <small class="text-secondary">OWNER NAME</small>
                    </th>
                    <th>
                        <small class="text-secondary">TOTAL PRODUCTS</small>
                    </th>
                    <th>
                        <small class="text-secondary">HANDLED BY</small>
                    </th>
                    <th >
                        <small class="text-secondary">STARTED AT</small>
                    </th>
                    <th >
                        <small class="text-secondary">COMPLETED AT</small>
                    </th>
                    
                </tr>
            </thead>
            <tbody class="border-0">
                <ng-container *ngFor="let o of orders">

                    <tr class="shadow shadow-sm rounded-3"  (click)="onClick(o.orderId)">
                        <td class=" p-3"> {{o.garage.garageName}}</td>
                        <td class=" p-3">{{o.garage.name}}</td>
                        <td class=" p-3">{{o.product.length}}</td>
                        <td class="p-3">{{o.admin.name}}</td>
                        <td class=" p-3">{{o.createdAt | date:"MMM dd, yyyy"}}</td>
                        <td class=" p-3">{{o.completedAt | date:"MMM dd, yyyy"}}</td>
                       
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
</div>