<div class="my-3 text-center">
    <div class="py-2">

        <h5 class="h5">PAST ORDERS</h5>
    </div>
</div>

<div *ngIf="loading" class="text-center">
    <p>Fetching data ...</p>
</div>

<div *ngIf="!loading">

    <div class="text-center">
        <!-- <p *ngIf="orders.length==0">No Data Available</p> -->
    </div>
<div class="mx-2 mt-4 rounded">
    <div class="my-2">
    </div>
    <div class="table-responsive">
        <table datatable
            class="table table-bordered  table-hover rounded text-center pt-3 mb-3">
            <thead class="background-orange text-white">
                <tr>
                    <th >
                        <p class="my-1">Garage Name</p>
                    </th>
                    <th>
                        <p class="my-1">Owner Name</p>
                    </th>
                    <th>
                        <p class="my-1">Total Products</p>
                    </th>
                    <th style="width: 100px;">
                        <p class="my-1">Started At</p>
                    </th>
                    <th style="width: 100px;">
                        <p class="my-1">Completed At</p>
                    </th>
                    <th style="width: 40px;">
                        <p class="my-1">Info</p>
                    </th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr *ngFor="let o of orders">
                    <td class=" p-3"> {{o.garage.garageName}}</td>
                    <td class=" p-3">{{o.garage.name}}</td>
                    <td class=" p-3">
                        <p *ngFor="let pro of o.product" class="mb-1">{{ pro.productName }} - {{ pro.qty }}</p>
                    </td>
                    <td class=" p-3">{{o.createdAt}}</td>
                    <td class=" p-3">{{o.completedAt}}</td>
                    <td>
                        <a routerLink="/orders/{{ o.orderId }}">
                            <button class="btn btn-outline-primary"><i class="fas fa-info-circle"></i></button> 
                        </a>
                    </td>
                </tr>
            </tbody> -->
        </table>
    </div>
</div>
</div>