<!-- activities starts -->
<div class="pt-3">
    <div class="py-2 text-center">
        <h5 class="h5">Account Activites</h5>
    </div>
    <div class="py-2 border-bottom">
        <h5 class="h5"><i class="fas fa-chevron-right"></i> Recent activities in Accounts</h5>
    </div>
    <div class="py-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">12/02/2021, 19:15 --> An item</li>
            <li class="list-group-item">12/02/2021, 19:15 --> A second item</li>
            <li class="list-group-item">12/02/2021, 19:15 --> A third item</li>
            <li class="list-group-item">12/02/2021, 19:15 --> A fourth item</li>
            <li class="list-group-item">12/02/2021, 19:15 --> And a fifth one</li>
        </ul>

        <!-- <table class="table table-borderless">
          <tbody>
            <tr>
              <td>12/02/2021, 19:15</td>
              <td>A long description of some activity</td>
            </tr>
            <tr>
              <td>12/02/2021, 19:15</td>
              <td>A long description of some activity</td>
            </tr>
            <tr>
              <td>12/02/2021, 19:15</td>
              <td>A long description of some activity</td>
            </tr>
            <tr>
              <td>12/02/2021, 19:15</td>
              <td>A long description of some activity</td>
            </tr>
            <tr>
              <td>12/02/2021, 19:15</td>
              <td>A long description of some activity</td>
            </tr>

          </tbody>
        </table> -->
    </div>
</div>
<!-- activities ends -->