<div class="py-3">
    <div class="table-responsive mt-4">
        <table datatable
            class="table table-bordered table-hover text-center rounded make_datatable pt-3 mb-3">
            <thead class="background-orange text-white">
                <tr>
                    <th>
                        <p class="my-1">Activity ID</p>
                    </th>
                    <th>
                        <p class="my-1">Date</p>
                    </th>
                    <th>
                        <p class="my-1">Time</p>
                    </th>
                    <th>
                        <p class="my-1">User</p>
                    </th>
                    <th>
                        <p class="my-1">Activity</p>
                    </th>
                    <th>
                        <p class="my-1">Category</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ACT001235</td>
                    <td>12/02/2021</td>
                    <td>19:15</td>
                    <td><a href="">@Admin21</a></td>
                    <td>A long description of some activity</td>
                    <td>Garage</td>
                </tr>
                <tr>
                    <td>ACT001235</td>
                    <td>12/02/2021</td>
                    <td>19:15</td>
                    <td><a href="">@Admin21</a></td>
                    <td>A long description of some activity</td>
                    <td>Garage</td>
                </tr>
                <tr>
                    <td>ACT001235</td>
                    <td>12/02/2021</td>
                    <td>19:15</td>
                    <td><a href="">@Admin21</a></td>
                    <td>A long description of some activity</td>
                    <td>Garage</td>
                </tr>
                <tr>
                    <td>ACT001235</td>
                    <td>12/02/2021</td>
                    <td>19:15</td>
                    <td><a href="">@Admin21</a></td>
                    <td>A long description of some activity</td>
                    <td>Garage</td>
                </tr>
                <tr>
                    <td>ACT001235</td>
                    <td>12/02/2021</td>
                    <td>19:15</td>
                    <td><a href="">@Admin21</a></td>
                    <td>A long description of some activity</td>
                    <td>Garage</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>