<div class="d-flex flex-wrap pt-3">
    <h3 class="h3"><i class="fas fa-object-ungroup"></i> Schemes</h3>
</div>

<!-- Page nav startes -->
<ul class="nav border-bottom" id="myTab" role="tablist">
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark active border-bottom-orange scheme-tab" onclick="change_tab('scheme-tab', 0)"
            id="all_scheme-tab" data-bs-toggle="tab" data-bs-target="#all_scheme" type="button" role="tab"
            aria-controls="all_scheme" aria-selected="true">
            <i class="fas fa-border-all"></i> Current Schemes</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark scheme-tab" onclick="change_tab('scheme-tab', 1)" id="add_scheme-tab"
            data-bs-toggle="tab" data-bs-target="#add_scheme" type="button" role="tab" aria-controls="add_scheme"
            aria-selected="false">
            <i class="fas fa-plus"></i> Add Scheme</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark scheme-tab" onclick="change_tab('scheme-tab', 2)" id="scheme_activities-tab"
            data-bs-toggle="tab" data-bs-target="#scheme_activities" type="button" role="tab"
            aria-controls="scheme_activities" aria-selected="false">
            <i class="fas fa-code-branch"></i> Schemes Activities</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark scheme-tab" onclick="change_tab('scheme-tab', 3)" id="pastSchemes-tab"
            data-bs-toggle="tab" data-bs-target="#pastSchemes" type="button" role="tab"
            aria-controls="pastSchemes" aria-selected="false">
            <i class="far fa-object-ungroup"></i> Past Schemes</a>
    </li>
</ul>
<!-- page nav ends -->

<!-- wrapper -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="all_scheme" role="tabpanel" aria-labelledby="all_scheme-tab">
        <!-- table starts -->
        <div class="py-3">
            <div class="py-2 text-center">
                <h5 class="h5">All Schemes</h5>
            </div>

            <div class="d-flex justify-content-end">
                <div class="w-md-25">

                    <select (change)="onChange($event)" class="form-select" name="" id="">
                        <option class="dropdown-item" selected value="Active">Active Schemes</option>
                        <option class="dropdown-item" value="Concluded">Concluded Schemes</option>
                        <option class="dropdown-item" value="UpComing">UpComing Schemes</option>
                    </select>
                </div>
            </div>
            <div class="py-2 text-center">
                <p class="lead" *ngIf="isDataAvailable">Data Not Available</p>
            </div>
            <div class="mx-2 mt-4">

                <div class="table-responsive">
                    <table *ngIf="schemeList.length>0" datatable
                        class="table table-bordered table-hover rounded text-center pt-3 mb-3" id="all_schemes_table">
                        <thead class="background-orange text-white">
                            <tr class="">
                                <!-- <th>#</th> -->
                                <th>Scheme</th>
                                <th>Description</th>
                                <th>Start Data</th>
                                <th>End Data</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let scheme of schemeList">
                                <td>{{scheme.scheme.schemeName}}</td>
                                <td>{{scheme.scheme.description}}</td>
                                <td>{{scheme.scheme.startedAt | date}}</td>
                                <td>{{scheme.scheme.endedAt | date}}</td>
                                <td>
                                    <a class="btn btn-outline-primary" routerLink="/schemes/{{ scheme.scheme.schemeId }}">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- table ends -->
    </div>

    <div class="tab-pane fade" id="add_scheme" role="tabpanel" aria-labelledby="add_scheme-tab">
        <app-add-scheme></app-add-scheme>
    </div>

    <div class="tab-pane fade" id="scheme_activities" role="tabpanel" aria-labelledby="scheme_activities-tab">
        <app-scheme-activities></app-scheme-activities>
    </div>

    <div class="tab-pane fade" id="pastSchemes" role="tabpanel" aria-labelledby="pastSchemes-tab">
        past schemes
    </div>

</div>