<div class="d-flex flex-wrap pt-3">
    <h3 class="h3"><i class="fas fa-object-ungroup"></i> Schemes</h3>
</div>

<!-- Page nav startes -->
<ul class="nav border-bottom" id="myTab" role="tablist">
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark active border-bottom-orange scheme-tab" onclick="change_tab('scheme-tab', 0)"
            id="all_scheme-tab" data-bs-toggle="tab" data-bs-target="#all_scheme" type="button" role="tab"
            aria-controls="all_scheme" aria-selected="true">
            <i class="fas fa-border-all"></i> Current Schemes</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark scheme-tab" onclick="change_tab('scheme-tab', 1)" id="add_scheme-tab"
            data-bs-toggle="tab" data-bs-target="#add_scheme" type="button" role="tab" aria-controls="add_scheme"
            aria-selected="false">
            <i class="fas fa-plus"></i> Add Scheme</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark scheme-tab" onclick="change_tab('scheme-tab', 2)" id="scheme_activities-tab"
            data-bs-toggle="tab" data-bs-target="#scheme_activities" type="button" role="tab"
            aria-controls="scheme_activities" aria-selected="false">
            <i class="fas fa-code-branch"></i> Schemes Activities</a>
    </li>
    <li class="nav-item mx-1" role="presentation">
        <a class="nav-link text-dark scheme-tab" onclick="change_tab('scheme-tab', 3)" id="pastSchemes-tab"
            data-bs-toggle="tab" data-bs-target="#pastSchemes" type="button" role="tab"
            aria-controls="pastSchemes" aria-selected="false">
            <i class="far fa-object-ungroup"></i> Past Schemes</a>
    </li>
</ul>
<!-- page nav ends -->

<!-- wrapper -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="all_scheme" role="tabpanel" aria-labelledby="all_scheme-tab">
        <!-- table starts -->
        <div class="py-3">
            <div class="p-2 text-start">
                <h5 class="h5">Active Schemes</h5>
            </div>

            <div class="row d-flex flex-wrap">

                <div *ngFor="let scheme of activeSchemeList" class="col-lg-6">
                    <div class="p-3">
                        <div class="card scheme-card border-left-orange">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h6 class="h6 fw-bolder mt-2">{{ scheme.scheme.schemeName | uppercase }} </h6><small class="m-0 p-0 text-dark fw-normal"> ({{ scheme.scheme.startedAt | date: 'dd/MM/yyyy'}} - {{ scheme.scheme.endedAt | date: 'dd/MM/yyyy' }})</small>    
                                    </div>
                                    <div class="display-on-hover pt-3">
                                        <a routerLink="/schemes/{{ scheme.scheme.schemeId}}" class="stretched-link"><i class="fas fa-info"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <p class="m-0 p-0">{{ scheme.scheme.description }}</p>
                                <div>
                                    <span *ngIf="scheme.scheme.targetGroup == 'garages'" class="badge bg-success mr-2 mb-2">Garages</span>
                                    <span *ngIf="scheme.scheme.targetGroup == 'customers'" class="badge bg-success mr-2 mb-2">Customers</span>
                                </div>
                                <div class="display-on-hover">
                                    <p class="m-0">Accepted by - 0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                


            </div>

             
        </div>
        <div class="py-3">
            <div class="p-2 text-start">
                <h5 class="h5">Upcoming Schemes</h5> 
            </div>
            <div class="row d-flex flex-wrap">

                <div *ngFor="let scheme of upcomingSchemeList" class="col-lg-6">
                    <div class="p-3">
                        <div class="card scheme-card border-left-orange">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h6 class="h6 fw-bolder mt-2">{{ scheme.scheme.schemeName | uppercase }} </h6><small class="m-0 p-0 text-dark fw-normal"> ({{ scheme.scheme.startedAt | date: 'dd/MM/yyyy'}} - {{ scheme.scheme.endedAt | date: 'dd/MM/yyyy' }})</small>    
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="p-3">
                                <p class="m-0 p-0">{{ scheme.scheme.description }}</p>
                                
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div>
                                            Offered to - 
                                                <span *ngIf="scheme.scheme.targetGroup == 'garages'" class="badge bg-success mr-2 mb-2">Garages</span>
                                                <span *ngIf="scheme.scheme.targetGroup == 'customers'" class="badge bg-success mr-2 mb-2">Customers</span>
                                        </div>
                                        <p class="m-0">Total products - {{  scheme.products.length }}</p>
                                    </div>
                                    <div class="display-on-hover align-text-bottom">
                                        <small>
                                            <a routerLink="/schemes/{{ scheme.scheme.schemeId}}" class="btn"><i class="fas fa-info"></i></a>
                                        </small>
                                        <small>
                                            <a routerLink="/schemes/{{ scheme.scheme.schemeId}}/edit" class="btn"><i class="fas fa-pen"></i></a>
                                        </small>
                                        <small>
                                            <a class="btn"><i class="fas fa-trash"></i></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                


            </div>
        </div>
        <!-- table ends -->
    </div>

    <div class="tab-pane fade" id="add_scheme" role="tabpanel" aria-labelledby="add_scheme-tab">
        <app-add-scheme></app-add-scheme>
    </div>

    <div class="tab-pane fade" id="scheme_activities" role="tabpanel" aria-labelledby="scheme_activities-tab">
        <app-scheme-activities></app-scheme-activities>
    </div>

    <div class="tab-pane fade" id="pastSchemes" role="tabpanel" aria-labelledby="pastSchemes-tab">
        <app-past-schemes></app-past-schemes>
    </div>

</div>