<div class=" pt-3">
    <div class="d-flex justify-content-between">
        <h3 class="h3"><i class="fas fa-bullhorn"></i> Broadcasts</h3>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-plus"></i> New Broadcast</button>
    </div>
</div>

<div class="">
    <div class="my-3 text-center">
        <div class="py-2">
            <h5 class="h5">All Broadcasts</h5>
        </div>
    </div>
</div>


<div class="">
    <div class="mx-2 mt-4 rounded">
        <div class="table-responsive">
            <table datatable class="table table-borderless  table-hover  spacetr">
                <thead class="text-secondary">
                    <tr class="">
                        <th><small class="text-secondary">DATE</small></th>
                        <th><small class="text-secondary">TITLE</small></th>
                        <th><small class="text-secondary">DESCRIPTION</small></th>
                        <th><small class="text-secondary">IMAGE</small></th>
                        <th><small class="text-secondary">TARGET</small></th>
                        <!-- <th>Vehicle Number</th> -->
                    </tr>
                </thead>
                <tbody class="border-0">
                    <ng-container>
                        <tr class="shadow shadow-sm rounded-3" >
                            <td class=" p-3">23 Jan, 2021</td>
                            <td class=" p-3">Some title</td>
                            <td class=" p-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</td>
                            <td class=" p-3">Mai nahi dukhauga</td>
                            <td class=" p-3">Garages</td>
                            
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-bullhorn"></i> New Broadcast</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">Title will be shown as heading</div> -->
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <textarea name="exampleInputPassword1" id="exampleInputPassword1" cols="30" rows="3" class="form-control"></textarea>
              </div>
              <div class="mb-3">
                <label for="broadcastImage" class="form-label">Image</label>
                <input type="file" name="broadcastImage" id="broadcastImage" class="form-control">
              </div>
              <div class="mb-3 ">
                <label for="targetGroup" class="form-label">Target Group</label>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Garages</label>
                </div>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck2">Customers</label>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
          <button type="button" class="btn background-orange text-white"><i class="fas fa-check"></i> Send Broadcast</button>
        </div>
      </div>
    </div>
  </div>