<div class=" pt-3">
    <div class="d-flex justify-content-between">
        <h3 class="h3"><i class="fas fa-bullhorn"></i> Broadcasts</h3>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-plus"></i> New Broadcast</button>
    </div>
</div>

<div class="">
    <div class="my-3 text-center">
        <div class="py-2">
            <h5 class="h5">BROADCAST</h5>
        </div>
    </div>
    <div *ngIf="broadcastAddSuccessFlag" class="text-center text-success">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          Broadcast added successfully! Reloading data..
    </div>
    
</div>


<div class="text-center mt-3" *ngIf="broadcastLoadingFlag">
    Loading...
</div>

<div *ngIf="!broadcastLoadingFlag" class="">
    <div class="mx-2 mt-4 rounded">
        <div class="table-responsive">
            <table datatable class="table table-borderless  table-hover  spacetr">
                <thead class="text-secondary">
                    <tr class="">
                        <th><small class="text-secondary">DATE</small></th>
                        <th><small class="text-secondary">AUTHOR</small></th>
                        <th><small class="text-secondary">TITLE</small></th>
                        <th><small class="text-secondary">DESCRIPTION</small></th>
                        <th><small class="text-secondary">IMAGE</small></th>
                        <th><small class="text-secondary">TARGET GROUP</small></th>
                        <!-- <th>Vehicle Number</th> -->
                    </tr>
                </thead>
                <tbody class="border-0">
                    <ng-container *ngFor="let b of broadcasts">
                        <tr class="shadow shadow-sm rounded-3" >
                            <td class=" p-3">{{b.createdAt| date:"medium"}}</td>
                            <td class=" p-3">{{b.createdBy}}</td>
                            <td class=" p-3">{{b.title}}</td>
                            <td class=" p-3">{{b.description}}</td>
                            <td class=" p-3"> - </td>
                            <td class=" p-3">
                                <!-- <div *ngFor="let tg of b.targetGroup">
                                    <div class="row">
                                        <small class="text-secondary">{{ tg | uppercase }}</small>
                                    </div>
                                </div> -->
                                <small *ngFor="let tg of b.targetGroup" class="text-secondary mx-1">{{ tg | titlecase }}</small>
                            </td>
                            
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-bullhorn"></i> New Broadcast</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
            <form (submit)="addBroadcast()"  [formGroup]="broadcastForm">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text" name="title" formControlName="title" class="form-control" id="exampleInputEmail1">
                    <div *ngIf="broadcastForm.get('title')?.touched"> 
                        <span class="text-danger" *ngIf="broadcastForm.get('title')?.hasError('required')"><small>This field is required.</small></span>
                    </div>  
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <textarea name="description" formControlName="description" id="exampleInputPassword1" cols="30" rows="3" class="form-control"></textarea>
                    <div *ngIf="broadcastForm.get('description')?.touched"> 
                        <span class="text-danger" *ngIf="broadcastForm.get('description')?.hasError('required')"><small>This field is required.</small></span>
                    </div> 
                </div>
                <div class="mb-3">
                    <label for="broadcastImage" class="form-label">Image</label>
                    <input type="file" name="broadcastImage" id="broadcastImage" class="form-control">
                </div>
                <div class="mb-3 ">
                    <label for="targetGroup" class="form-label">Target Group</label>
                    <div class="mb-1 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="targetGroupPush('garages')" >
                        <label class="form-check-label" for="exampleCheck1">Garages</label>
                    </div>
                    <div class="mb-1 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2" (click)="targetGroupPush('customers')">
                        <label class="form-check-label" for="exampleCheck2">Customers</label>
                    </div>
                    <small *ngIf="targetGroupFormTouched && targetGroupArray.length == 0" class="text-danger">Choose at least one group</small>
                </div>

                <div class="mt-5 mb-3 d-flex justify-content-end">
                  <button type="button" id="modalClosebtn" class="btn btn-secondary mx-1" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                  <button type="submit" class="btn background-orange text-white mx-1" [disabled]="!broadcastForm.valid || targetGroupArray.length == 0 || broadcastAddLoadingFLag" >
                      <div *ngIf="broadcastAddLoadingFLag">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                          Sending Broadcast
                      </div>

                      <div *ngIf="!broadcastAddLoadingFLag">

                          <i class="fas fa-check"></i> Send Broadcast
                        </div>
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>