<p class="lead" *ngIf="dataLoadingStatus">Loading ...</p>
<div *ngIf="!dataLoadingStatus">
    <div class="d-flex flex-wrap py-3">
        <h3 class="h3">
            <a routerLink="/garages" class="text-decoration-none text-dark">
                <i class="fas fa-wrench"></i> Garages 
            </a>
            <i class="fas fa-angle-right"></i> {{ garageDetails.garageName }}</h3>
    </div>

    <div class="w-100 text-center py-2">
        <img class="img-thumbnail mr-1" src="/assets/img/user.png" alt="User" width="180px"><br>
        <p class="lead fw-bold pb-0 mb-0">{{garageDetails.garageName}}</p>
    </div>

    <div class="row my-3">
        <div class="col-lg-6">
            <div class="p-md-3">
                <p class="fw-bold">GARAGE INFORMATION</p>
                <table class="table table-hover table-bordered p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Garage Name</td>
                            <td class="p-3">{{ garageDetails.garageName }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Owner Name</td>
                            <td class="p-3">{{ garageDetails.name }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Phone number</td>
                            <td class="p-3">{{ garageDetails.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Alternate phone </td>
                            <td class="p-3">
                                {{ garageDetails.alternateNumber }}
                                <span *ngIf="!garageDetails.alternateNumber"> - </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">GST</td>
                            <td class="p-3">
                                <span *ngIf="!garageDetails.gstNumber"> - </span>
                                <span *ngIf="garageDetails.gstNumber"> {{ garageDetails.gstNumber }} </span>
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Referral Code</td>
                            <td class="p-3">
                                {{ garageDetails.referralCode }}
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Total customers</td>
                            <td class="p-3">
                                <span class="badge bg-info">{{ garageDetails.totalCustomer }}</span>
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Points</td>
                            <td class="p-3">
                                <span class="badge bg-secondary">
                                    {{ garageDetails.totalScore }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Address</td>
                            <td class="p-3">{{ garageDetails.address }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Area</td>
                            <td class="p-3">{{ garageDetails.area }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Pincode</td>
                            <td class="p-3">{{ garageDetails.pincode }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-md-3">
                <p class="fw-bold">GARAGE DATA</p>
                <table class="table table-hover table-bordered p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Garage id</td>
                            <td class="p-3"> {{ garageDetails.garageId }}</td>
                        </tr>
                        
                        <tr>
                            <td class="p-3">Added on</td>
                            <td class="p-3"> {{ garageDetails.createdAt | date:"medium" }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Last updated</td>
                            <td class="p-3"> {{ garageDetails.updatedAt |  date:"medium"}}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Status</td>
                            <td class="p-3">
                                <span *ngIf="garageDetails.active == true" class="badge bg-success">Active</span> 
                                <span *ngIf="garageDetails.active == false" class="badge bg-danger">Deactivated</span> 

                            </td>
                    </tbody>
                </table>
            </div>
            <div class="p-md-3">
                <p class="fw-bold">ACTION ZONE!</p>
                <table class="table table-hover table-bordered p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Add image</td>
                            <td class="p-3"><a href="#" class="btn link-success">Add</a></td>
                        </tr>
                        <tr>
                            <td class="p-3">Reset Points</td>
                            <td class="p-3"><a href="#" class="btn link-dark">Reset Garage Points</a></td>
                        </tr>
                        <tr>
                            <td class="p-3">Update garage info</td>
                            <td class="p-3"> <a routerLink="/garages/{{ garageDetails.garageId }}/edit" class="btn link-primary">Update</a></td>
                        </tr>
                        <tr *ngIf="garageDetails.active">
                            <td class="p-3">Deactivate Account</td>
                            <td class="p-3">
                                <button (click)="deactivateAccount(garageDetails.garageId)" [disabled]="deleteLoadingFlag" class="btn link-danger">
                                    <span *ngIf="!deleteLoadingFlag">
                                        Deactivate Garage Account
                                    </span>
                                    <span *ngIf="deleteLoadingFlag">
                                        <div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!garageDetails.active">
                            <td class="p-3">Enable Account</td>
                            <td class="p-3">
                                <button (click)="restoreGarageAccount()" [disabled]="accountRestoreLoadingFlag" class="btn link-success">
                                    <span *ngIf="!accountRestoreLoadingFlag">Enable Garage Account</span>
                                    
                                    <span *ngIf="accountRestoreLoadingFlag"> 
                                        <div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div> 
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!garageDetails.active">
                            <td class="p-3">Delete Account</td>
                            <td class="p-3"><a href="#" class="btn link-danger">Permanently Delete Account</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="garageCustomerList.length > 0" >
            <div class="p-md-3">
                <p class="fw-bold">GARAGE CUSTOMERS ({{ garageCustomerList.length }})</p>
                <ul>
                    <li *ngFor="let customer of garageCustomerList">
                        <a routerLink="/customers/{{ customer.customerId }}" class="text-decoration-none text-dark">
                            {{ customer.customerName }} <sup> <i class="fas fa-link"></i></sup>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="p-3">
        <p class="fw-bold">GARAGES IN SAME AREA ({{ sameAreaGarages.length }})</p>

        <div class="vstack gap-3 px-md-2">
            <div *ngFor="let garage of sameAreaGarages">
                <div class="border-left-orange">
                    <div class="p-2">
                        <p class="lead fw-normal pb-0 mb-0">
                            <a class="text-decoration-none text-dark" routerLink="/garages/{{ garage.garageId }}" target="_blank">
                                {{ garage.garageName }} - {{ garage.area }} <sup> <i *ngIf="garageDetails.garageId != garage.garageId" class="fas fa-external-link-alt"></i></sup>
                            </a>
                        </p>
                        <p *ngIf="garage.active == false" class="badge bg-danger">Deactivated </p> 
                        <p class="p-0 m-0 text-secondary">Phone - {{ garage.phoneNumber }}</p>
                        <p class="p-0 m-0 text-secondary">Total customers - {{ garage.totalCustomer }}</p>
                        <p class="p-0 m-0 text-secondary">Points - {{ garage.totalScore }}</p> 
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>