<p class="lead" *ngIf="dataLoadingStatus">Loading ...</p>
<div *ngIf="!dataLoadingStatus">
    <div class="d-flex flex-wrap py-3">
        <h3 class="h3">
            <a routerLink="/schemes" class="text-decoration-none text-dark">
                <i class="fas fa-object-ungroup"></i> Schemes 
            </a>
            <i class="fas fa-angle-right"></i> {{ schemeDetails.schemeName }}</h3>
    </div>

    <!-- <div class="w-100 text-center py-2">
        <img class="img-thumbnail mr-1" src="/assets/img/user.png" alt="User" width="180px"><br>
        <p class="lead fw-bold pb-0 mb-0">{{garageDetails.garageName}}</p>
    </div> -->
    <chart [type]="type" [data]="data" [options]="options"></chart>
    <div class="row my-3">
        <div class="col-lg-6">
            <div class="p-md-3">
                <p class="fw-bold">SCHEME INFORMATION</p>
                <table class="table table-hover table-bordered p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Scheme Name</td>
                            <td class="p-3">{{ schemeDetails.schemeName }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Description</td>
                            <td class="p-3">{{ schemeDetails.description }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Start At </td>
                            <td class="p-3">{{ schemeDetails.startedAt | date: 'medium' }}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Conclude At</td>
                            <td class="p-3">
                                {{ schemeDetails.endedAt | date: 'medium' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Offered to</td>
                            <td class="p-3">
                                {{ schemeDetails.targetGroup | titlecase }}
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Vehicle Type</td>
                            <td class="p-3">
                                jaldi se api bana do
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3">Products added to schemes</td>
                            <td class="p-3">
                                <span class="badge bg-primary   ">
                                    {{ schemeDetails.products.length}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="p-md-3">
                <p class="fw-bold">ACCEPTED USERS LIST</p>
                <table class="table table-hover table-bordered p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Garage 1</td>
                            <td class="p-3">Address 1 <br> phonr</td>
                        </tr>
                        <tr>
                            <td class="p-3">Garage 1</td>
                            <td class="p-3">Address 1 <br> phonr</td>
                        </tr>
                        <tr>
                            <td class="p-3">Garage 1</td>
                            <td class="p-3">Address 1 <br> phonr</td>
                        </tr>
                        <tr>
                            <td class="p-3">Garage 1</td>
                            <td class="p-3">Address 1 <br> phonr</td>
                        </tr>
                        <tr>
                            <td class="p-3">Garage 1</td>
                            <td class="p-3">Address 1 <br> phonr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-3">
                <p class="fw-bold">SCHEME DATA</p>
                <table class="table table-bordered table-hover p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Scheme Id</td>
                            <td class="p-3">{{schemeDetails.schemeId}} </td>
                        </tr>
                        <tr>
                            <td class="p-3">Start Date</td>
                            <td class="p-3">{{schemeDetails.startedAt | date}}</td>
                        </tr>
                        <tr>
                            <td class="p-3">End Date</td>
                            <td class="p-3">{{schemeDetails.endedAt | date}}</td>
                        </tr>
                        <tr>
                            <td class="p-3">Accepted By</td>
                            <td class="p-3"><span class="badge bg-danger">10</span></td>
                        </tr>
                        <tr>
                            <td class="p-3">Status</td>
                            <td class="p-3">
                                <span *ngIf="schemeDetails.status == true" class="badge bg-success">Active</span> 
                                <span *ngIf="schemeDetails.status == false" class="badge bg-danger">Deactivated</span> 

                            </td>
                    </tbody>
                </table>
            </div>
            <div class="p-md-3">
                <p class="fw-bold">ACTION ZONE!</p>
                <table class="table table-hover table-bordered p-md-3">
                    <tbody>
                        <tr>
                            <td class="p-3">Update info</td>
                            <td class="p-3"> <a routerLink="/schemes/{{schemeDetails.schemeId}}/edit" class="btn link-primary">Update</a></td>
                        </tr>
                        <tr>
                            <td class="p-3">Update Product / Vehicle type</td>
                            <td class="p-3"> <a  class="btn link-primary">Update</a></td>
                        </tr>
                        <tr *ngIf="schemeDetails.status == false">
                            <td class="p-3">Restore Scheme</td>
                            <td class="p-3">
                                <button (click)="onRestoreScheme()" class="btn text-success" [disabled]="restoreSchemeLoading">
                                    <span *ngIf="!restoreSchemeLoading">
                                        Restore
                                    </span>
                                    <span *ngIf="restoreSchemeLoading">
                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                          </div>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="schemeDetails.status == true">
                            <td class="p-3">Delete</td>
                            <td class="p-3">
                                <button (click)="onDeleteScheme(id)" class=" btn text-danger" [disabled]="deleteSchemeLoading">
                                    <span *ngIf="!deleteSchemeLoading">
                                    Delete Scheme
                                    </span>
                                    <span *ngIf="deleteSchemeLoading">
                                        <div class="spinner-border spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                          </div>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>