<div class="">
    <div class="my-3 text-center">
        <div class="py-2">
            <h5 class="h5">Products Activities</h5>
        </div>
    </div>

    <div class="text-center" *ngIf="loading">
        <span> 
            <div class="spinner-border spinner-border-sm mx-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> 
            Fetching Activities ...
        </span>
    </div>

    <div class="py-2 w-100 mx-auto" *ngIf="!loading">
        <ul class="list-group list-group-flush" >
            <li class="list-group-item border-0" *ngFor="let act of activities">
                <div class="d-flex d-inline">

                    <div style="width: 180px;" class="">
                        {{ act.createdAt | date:'medium' }} 
                    </div>

                    <div style="width: 110px;" class="">
                        <span class="link-primary mx-1"><a href="/accounts/{{act.userId}}" class="text-decoration-none">{{ act.user }}</a> </span> 
                    </div>

                    <div style="width: 80px;" class="">
                        <span class="badge mx-1" [ngClass]="{'bg-success': act.act == 'create', 'bg-warning': act.act == 'update', 'bg-danger': act.act == 'delete'}"> {{act.act}}d </span> 
                    </div>

                    <div style="width: 180px;" class="">
                        <span class="link-primary mx-1"> <a href="/products/{{act.subjectId}}" class="text-decoration-none"> #{{ act.subject }}</a></span>
                    </div>

                    


                </div>
                
            </li>
        </ul>




    </div>
</div>