<div class="">
    <div class="my-3 text-center">
        <div class="py-2">
            <h5 class="h5">PRODUCTS ACTIVITIES</h5>
        </div>
    </div>

    <div class="text-center" *ngIf="loading">
        <span> 
            <div class="spinner-border spinner-border-sm mx-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> 
            Fetching Activities ...
        </span>
    </div>

    <div class="py-2 w-100 mx-auto" *ngIf="!loading">
        <table datatable data-order='[[ 0, "desc" ]]'
            class="table table-borderless">
            <thead class="text-secondary">
                <tr>
                    <th><small class="text-secondary">TIMESTAMP</small></th>
                    <th><small class="text-secondary">USER</small></th>
                    <th><small class="text-secondary">ACT</small></th>
                    <th><small class="text-secondary">PRODUCT</small></th>
                    
                </tr>
            </thead>
            <tbody class="border-0">
                <tr *ngFor="let act of activities">
                    <td>{{act.createdAt | date:'medium'}}</td>
                    <td>{{act.user}}</td>
                    <td>
                        <span class="badge" [ngClass]="{'bg-danger': act.act === 'delete', 'bg-success': act.act === 'create', 'bg-warning': act.act === 'update'}" >
                            {{act.act | titlecase}}
                        </span>
                    </td>
                    <td>{{act.subject}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>