<div class="my-3 text-center">
    <div class="py-2">
        <h5 class="h5">ACTIVE GARAGES</h5>
    </div>
</div>

<div *ngIf="loading" class="text-center">
    <p>Fetching data ...</p>
</div>

<div *ngIf="!loading">

    <div class="text-center">
        <p *ngIf="garages.length==0">No Data Available</p>
    </div>
<div class="mx-2 mt-4 rounded">
    <div class="my-2">
    </div>
    <div class="table-responsive">
        <table datatable *ngIf="garages.length>0"
            class="table table-borderless spacetr">
            <thead class="text-secondary">
                <tr>
                    <th><small class="text-secondary">GARAGE</small></th>
                    <th><small class="text-secondary">OWNER</small></th>
                    <th><small class="text-secondary">PHONE</small></th>
                    <th><small class="text-secondary">ADDRESS</small></th>
                    <th><small class="text-secondary">PINCODE</small></th>
                    <th><small class="text-secondary">REFERRAL</small></th>
                    <th><small class="text-secondary">JOINED ON</small></th>
                    
                </tr>
            </thead>
            <tbody class="border-0">
                <ng-container *ngFor="let garage of garages" >

                <tr class="shadow shadow-sm rounded-3" (click)="onClick(garage.garageId)">
                    <td class=" p-3"> {{garage.garageName}}</td>
                    <td class=" p-3">{{garage.name}}</td>
                    <td class=" p-3">{{garage.phoneNumber}}</td>
                    <td class=" p-3">{{garage.address}}</td>
                    <td class=" p-3">{{garage.pincode}}</td>
                    <td class=" p-3">{{garage.referralCode}}</td>
                    <td class=" p-3">{{garage.createdAt | date}}</td>
                </tr>
            </ng-container>
        </tbody>
        </table>
    </div>
</div>

<div class=" my-5">
    <!-- for some space in end -->
</div>
</div>