
<div *ngIf="userData">


<div class="d-flex flex-wrap pt-3">
    <h3 class="h3"><i class="fas fa-user"></i> My Account</h3>
</div>

<div class="w-100 text-center py-2">
    <img class="user-img mr-1" src="/assets/img/user.png" alt="User" width="120px"><br>
    <p class="lead fw-bold pb-0 mb-0">{{userData.name}}</p>
    <span *ngIf="userData.privilege == 'moderator' " class="badge bg-primary">Moderator</span> 
    <span *ngIf="userData.privilege == 'admin' " class="badge bg-secondary"> Admin</span>
</div>

<div class="row mt-3">
    <div class="col-lg-6">
        <div class="p-3">
            <p class="fw-bold">PERSONAL INFORMATION</p>

            <table class="table table-bordered table-hover p-md-3">
                <tbody>
                    <tr>
                        <td class="p-3">Full Name</td>
                        <td class="p-3">{{userData.name}}</td>
                    </tr>
                    <tr>
                        <td class="p-3">Email</td>
                        <td class="p-3">{{userData.email}}</td>
                    </tr>
                    <tr>
                        <td class="p-3">Phone</td>
                        <td class="p-3">{{userData.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td class="p-3">Alternate Phone</td>
                        <td class="p-3">{{userData.alternateNumber}}</td>
                    </tr>
                    <tr>
                        <td class="p-3">Address</td>
                        <td class="p-3">{{userData.address}}</td>
                    </tr>
                    <tr>
                        <td class="p-3">Pincode</td>
                        <td class="p-3">{{userData.pincode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="p-3">
            <p class="fw-bold">ACCOUNT INFORMATION</p>
            <table class="table table-bordered table-hover p-md-3">
                <tbody>
                    <tr >
                        <td class="p-3  ">Account ID</td>
                        <td class="p-3">{{userData.adminId}}</td>
                    </tr>
                    <tr>
                        <td class="p-3 ">Created At</td>
                        <td class="p-3">{{userData.createdAt | date:"mediumDate"}}</td>
                    </tr>
                    <tr>
                        <td class="p-3 ">Updated At</td>
                        <td class="p-3">{{userData.updateAt | date:"mediumDate"}}</td>
                    </tr>
                    <tr>
                        <td class="p-3 ">Privilege</td>
                        <td class="p-3"> 
                            <span *ngIf="userData.privilege == 'moderator' " class="badge bg-primary">Moderator</span> 
                            <span *ngIf="userData.privilege == 'admin' " class="badge bg-secondary"> Admin</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-3 ">Status</td>
                        <td class="p-3"> 
                            <span *ngIf="userData.active == true" class="badge bg-success">Active</span> 
                            <span *ngIf="userData.active == false" class="badge bg-danger">Deactivated</span> 
                        </td>
                    </tr>
                    <tr>
                        <td class="p-3 ">Password</td>
                        <td ><a href="#">Change Password</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>